body {
  line-height: 1.8;
}

.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

.distance-result {
  margin-top: 10px;
  text-align: right;
}

.distance-result .number-label{
  display: inline-block;
  width: 70px;
  font-weight: bold;
}

.distance-result .unit{
  display: inline-block;
  width: 65px;
  font-size: 90%;
  text-align: right !important;
}


th, td {
  padding: 5px !important;
  word-break: break-all;
}

th {
  font-size: 100% !important;
}

th, td.route {
  width: 45% !important;
}

th, td.passenger {
  width: 30% !important;
}

th, td.cost {
  text-align: center;
}

th, td.cost button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-cancel {
 color: red !important;
}

.btn-accept {
  color: green !important;
 }
