.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

.distance-result {
  margin-top: 10px;
  text-align: right;
}

.distance-result .number-label{
  display: inline-block;
  width: 60px;
  font-weight: bold;
}

.distance-result .unit{
  display: inline-block;
  width: 40px;
}


th, td {
  padding: 5px !important;
  word-break: break-all;
}

th, td.route {
  width: 50% !important;
}

th, td.passenger {
  width: 25% !important;
}

.btn-cancel {
 color: red !important;
}

.btn-accept {
  color: green !important;
 }
